1. 从第18条记录开始的5条记录

In [1]:
import pymysql
db = pymysql.connect(host="cdb-r2g8flnu.bj.tencentcdb.com", port=10209, user="dase2020", password="dase2020",
                     database="dase_intro_2020")
cursor = db.cursor()
sql = "SELECT * FROM bicycle_train WHERE id>%s and id<%s" % (17, 23)
cursor.execute(sql)
Data = cursor.fetchall()
print(Data)

((18, 1, 17, 1, 8, 4, 1, 2, 75), (19, 1, 1, 1, 18, 19, 1, 3, 5), (20, 1, 7, 0, 23, 25, 2, 1, 13), (21, 0, 9, 0, 25, 27, 1, 0, 67), (22, 0, 16, 1, 11, 11, 3, 2, 76))

2. 数据表中风级(wind)取值范围是多少

In [2]:
import pymysql
db = pymysql.connect(host="cdb-r2g8flnu.bj.tencentcdb.com", port=10209, user="dase2020", password="dase2020",
                     database="dase_intro_2020")
cursor = db.cursor()
sql = "SELECT * FROM bicycle_train"
cursor.execute(sql)
Data = cursor.fetchall()
Min = Data[0][7]
Max = Data[0][7]
for i in range(len(Data)):
    if Data[i][7] > Max:
        Max = Data[i][7]
    if Data[i][7] < Min:
        Min = Data[i][7]
print("the wind range is [%d,%d]" % (Min, Max))

the wind range is [0,7]

3. 满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的平均值

In [3]:
import pymysql
db = pymysql.connect(host="cdb-r2g8flnu.bj.tencentcdb.com", port=10209, user="dase2020", password="dase2020",
                     database="dase_intro_2020")
cursor = db.cursor()
sql = "SELECT AVG(temp_air) FROM bicycle_train WHERE city=0 AND hour=10 AND weather=1 AND wind<2 AND y>99"
cursor.execute(sql)
Data = cursor.fetchone()[0]
print(Data)

20.6000

4. 满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的方差

In [1]:
import pymysql
db = pymysql.connect(host="cdb-r2g8flnu.bj.tencentcdb.com", port=10209, user="dase2020", password="dase2020",
                     database="dase_intro_2020")
cursor = db.cursor()
sql = "SELECT temp_air FROM bicycle_train " \
      "WHERE city=0 AND hour=10 AND weather=1 AND wind<2 AND y>99"
cursor.execute(sql)
Data = cursor.fetchall()
var = 0
for temp in Data:
    var += (temp[0]-20.6)**2
var /= len(Data)
print("the var of temp_air is %f" % var)

the var of temp_air is 37.640000

5. 分城市显示工作日雨雪天单车租用总量，并降序排序

In [2]:
import pymysql
db = pymysql.connect(host="cdb-r2g8flnu.bj.tencentcdb.com", port=10209, user="dase2020", password="dase2020",
                     database="dase_intro_2020")
cursor = db.cursor()
sql = "SELECT city,SUM(y) FROM bicycle_train " \
      "WHERE is_workday=1 AND weather=3 GROUP BY city ORDER BY SUM(y) DESC"
cursor.execute(sql)
Data = cursor.fetchall()
dic = {0: "Beijing", 1: "Shanghai"}
for temp in Data:
    print("%s:%d" % (dic[temp[0]], temp[1]))

Shanghai:9106
Beijing:8084

6. 分别查询17时至19时每小时上海市在工作日且体感温度不大于10摄氏度时租用单车的平均值（四舍五入至整数），并且结果按升序排序。

In [1]:
import pymysql
db = pymysql.connect(host="cdb-r2g8flnu.bj.tencentcdb.com", port=10209, user="dase2020", password="dase2020",
                     database="dase_intro_2020")
cursor = db.cursor()
sql = "SELECT hour,AVG(y) FROM bicycle_train WHERE hour BETWEEN 17 AND 19 AND " \
      "city=1 AND is_workday=1 AND temp_body<=10 GROUP BY hour ORDER BY AVG(y)"
cursor.execute(sql)
Data = cursor.fetchall()
print("time|average")
for temp in Data:
    print("%d  |%d" % (temp[0], round(temp[1])))

time|average
19  |42
18  |63
17  |65